body {
  background-color: #c0b6bf;
}

.style-logo {
  padding-left: 25px;
  font-size: 30px;
  font-weight: bold;
}

.style-nama {
  font-size: 15px;
  margin-right: 800px;
  font-family: sans-serif;
}

.container-fluid {
  margin: -15px;
  height: 80px;
  background-color: rgb(71, 68, 55);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.style-h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}
.style-h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}

.p-3 {
  margin: 80px 130px;
  font-size: 40px;
  font-weight: 750;
}

.style-button {
  margin-top: 350px;
  border-color: rgb(32, 32, 32);
  border-radius: 15px;
  background-color: rgb(236, 10, 55);
  align-items: center;
  --bs-btn-hover-bg: #b64d4d;
  --bs-btn-active-border-color: #05110c;
  width: 378px;
}

a:hover {
  color: white;
}

.card {
  width: 80%;
  margin-inline: auto;
}

.form-control {
  font-size: 15px;
}

.button {
  margin-top: 20px;
  margin-left: 10px;
}

.btn-ats {
  background-color: rgb(69, 206, 110);
  border-radius: 5px;
  margin: 5px;
  color: white;
  width: 15%;
  height: 40px;
  border-color: rgba(233, 233, 233, 0);
}
.btn-atss {
  background-color: rgb(255, 33, 33);
  border-radius: 5px;
  margin: 5px;
  color: white;
  width: 15%;
  height: 40px;
  border-color: rgba(233, 233, 233, 0);
}
.btn btn-outline-success {
  float: inline-end;
}

.d-flex {
  height: 40px;
  padding-left: 500px;
  padding-right: 10px;
  margin-right: 10px;
}
